<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Inscrição Realizada com Sucesso!</h1>
    </header>
    <main>
        <p>Obrigado por se inscrever como voluntário. Entraremos em contato em breve!</p>
        <a href="{% url 'home' %}">Voltar para a página inicial</a>
    </main>
</body>
</html>
