<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <header>
        <div class="logo">
        <img src="{% static 'fotos\logo.png' %}" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'sobre' %}">Sobre nós</a></li>
                <li><a href="{% url 'contribuir' %}">Contribuir</a></li>
                <li><a href="{% url 'contato' %}">Contato</a></li>
                
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <h1>conheça nosso<br>projeto e<br>produtos</h1>
            <a href="{% url 'catalogo' %}" class="btn-produtos">Nossos produtos</a>
        </section>
    </main>
    <footer>
        <p>redes sociais: xxxx</p>
    </footer>
</body>
