<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
</head>
<body>
    <header>
        <h1>Formulário de Inscrição</h1>
    </header>
    <main>
        <p>Para se inscrever como voluntario, acesse o formulário pelo link abaixo:</p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScmFqcJu93QQt0OwBGUoA9Ajc33nl8OVFSQL94a_i7T9jPKrg/viewform?usp=sf_link" target="_blank">Acessar o Formulário de Inscrição</a>
    </main>
</body>
</html>
